In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({'Name':["Neha", "Ankit", "Suresh"], 'Age':[23,45,67]})
data

     Name  Age
0    Neha   23
1   Ankit   45
2  Suresh   67

In [3]:
data = pd.read_csv("Melbourne_housing_FULL.csv")

In [4]:
OrgData = data
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [5]:
data.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [6]:
data.shape

(34857, 21)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [8]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

### Summing up all null values column-wise

In [10]:
data.isnull()  # It will return True where value is Null
data.isnull().sum()   # It will return the sum of all Null values column-wise
data.isnull().sum().sort_values(ascending = False)   # Sorting Values in Descending Order

BuildingArea     21115
YearBuilt        19306
Landsize         11810
Car               8728
Bathroom          8226
Bedroom2          8217
Longtitude        7976
Lattitude         7976
Price             7610
Regionname           3
CouncilArea          3
Propertycount        3
Postcode             1
Distance             1
Address              0
Date                 0
SellerG              0
Method               0
Type                 0
Rooms                0
Suburb               0
dtype: int64

In [11]:
data.isnull()  # It will return True where value is Null
data.isnull().sum(axis=1)   # It will return the sum of all Null values column-wise
data.isnull().sum(axis=1).sort_values(ascending = False)   # Sorting Values in Descending Order

29483    13
18523    11
26888    11
32125     9
11231     9
         ..
24737     0
24738     0
9437      0
9435      0
34856     0
Length: 34857, dtype: int64

### Showing Columns & Rows having all null values

In [12]:
data.isnull().all()  # Show Columns having all null values

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
CouncilArea      False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [13]:
data.isnull().all(axis=1)  # Show Rows having all null values

0        False
1        False
2        False
3        False
4        False
         ...
34852    False
34853    False
34854    False
34855    False
34856    False
Length: 34857, dtype: bool

### Showing Columns and Rows having atleast one null value

In [14]:
data.isnull().any(axis=0) # Retuns all the colunms True having atleast one missing value

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [15]:
data.isnull().any(axis=1) # Retuns all the rows True having atleast one missing value

0         True
1         True
2        False
3         True
4        False
         ...
34852     True
34853    False
34854    False
34855     True
34856    False
Length: 34857, dtype: bool

### Summing up the missing values (column-wise) - in %

In [16]:
data.isnull().sum().sort_values(ascending = False)/len(data) * 100
round(data.isnull().sum().sort_values(ascending = False)/len(data) * 100, 2)

BuildingArea     60.58
YearBuilt        55.39
Landsize         33.88
Car              25.04
Bathroom         23.60
Bedroom2         23.57
Longtitude       22.88
Lattitude        22.88
Price            21.83
Regionname        0.01
CouncilArea       0.01
Propertycount     0.01
Postcode          0.00
Distance          0.00
Address           0.00
Date              0.00
SellerG           0.00
Method            0.00
Type              0.00
Rooms             0.00
Suburb            0.00
dtype: float64

### Removing the Top 2 columns where the max null values %

In [17]:
data = data.drop(['BuildingArea', 'YearBuilt'], axis=1)   # Drop method is used to Delete the columns from Data

In [18]:
round(data.isnull().sum().sort_values(ascending = False)/len(data) * 100, 2)

Landsize         33.88
Car              25.04
Bathroom         23.60
Bedroom2         23.57
Longtitude       22.88
Lattitude        22.88
Price            21.83
Propertycount     0.01
Regionname        0.01
CouncilArea       0.01
Postcode          0.00
Distance          0.00
Address           0.00
Date              0.00
SellerG           0.00
Method            0.00
Type              0.00
Rooms             0.00
Suburb            0.00
dtype: float64

### Check the rows having more than 5 missing values

In [19]:
data[data.isnull().sum(axis=1)>5]
len(data[data.isnull().sum(axis=1)>5])/len(data) * 100

22.80747052242017

### Retaining the rows having less than 5 missing values

In [20]:
data[data.isnull().sum(axis=1)<5]
len(data[data.isnull().sum(axis=1)<5])/len(data) * 100

77.02900421723041

In [21]:
data = data[data.isnull().sum(axis=1)<5]
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,4.0,1.0,3.0,593.0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [22]:
round(data.isnull().sum().sort_values(ascending = False)/len(data) * 100, 2)

Price            21.73
Landsize         14.16
Car               2.69
Bathroom          0.82
Bedroom2          0.78
Longtitude        0.10
Lattitude         0.10
Suburb            0.00
Regionname        0.00
CouncilArea       0.00
Postcode          0.00
Address           0.00
Distance          0.00
Date              0.00
SellerG           0.00
Method            0.00
Type              0.00
Rooms             0.00
Propertycount     0.00
dtype: float64

In [23]:
data['Price'].notnull()
data[data['Price'].notnull()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,4.0,1.0,3.0,593.0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [24]:
data = data[data['Price'].notnull()]
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,4.0,1.0,3.0,593.0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [25]:
round(data.isnull().sum().sort_values(ascending = False)/len(data) * 100, 2)

Landsize         14.43
Car               2.82
Bathroom          1.02
Bedroom2          0.99
Longtitude        0.10
Lattitude         0.10
Suburb            0.00
Regionname        0.00
CouncilArea       0.00
Postcode          0.00
Address           0.00
Distance          0.00
Date              0.00
SellerG           0.00
Method            0.00
Price             0.00
Type              0.00
Rooms             0.00
Propertycount     0.00
dtype: float64

In [26]:
data['Landsize'].notnull()
data[data['Landsize'].notnull()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,4.0,1.0,3.0,593.0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [27]:
data = data[data['Landsize'].notnull()]
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,4.0,1.0,3.0,593.0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [28]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100, 2)

Car              1.56
Longtitude       0.12
Lattitude        0.12
Bathroom         0.05
Bedroom2         0.03
Suburb           0.00
Regionname       0.00
CouncilArea      0.00
Landsize         0.00
Postcode         0.00
Address          0.00
Distance         0.00
Date             0.00
SellerG          0.00
Method           0.00
Price            0.00
Type             0.00
Rooms            0.00
Propertycount    0.00
dtype: float64

### Describe Longtitude and Lattitude and later imputing the values by mean

In [29]:
data['Longtitude'].describe()

count    17960.000000
mean       144.995942
std          0.116992
min        144.423790
25%        144.925300
50%        145.002000
75%        145.066800
max        145.526350
Name: Longtitude, dtype: float64

In [30]:
data['Lattitude'].describe()

count    17960.000000
mean       -37.806490
std          0.089034
min        -38.190430
25%        -37.858900
50%        -37.800020
75%        -37.750170
max        -37.399460
Name: Lattitude, dtype: float64

In [31]:
data.loc[:,['Lattitude','Longtitude']].describe()

          Lattitude    Longtitude
count  17960.000000  17960.000000
mean     -37.806490    144.995942
std        0.089034      0.116992
min      -38.190430    144.423790
25%      -37.858900    144.925300
50%      -37.800020    145.002000
75%      -37.750170    145.066800
max      -37.399460    145.526350

In [32]:
data['Longtitude'].mean()

144.99594155790686

In [33]:
data['Lattitude'].mean()

-37.806490380289596

In [34]:
data.loc[:,'Lattitude'].fillna(data['Lattitude'].mean(),inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6292\2897005860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:,'Lattitude'].fillna(data['Lattitude'].mean(),inplace=True)

In [35]:
data.loc[:,'Longtitude'].fillna(data['Longtitude'].mean(),inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6292\1816798931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:,'Longtitude'].fillna(data['Longtitude'].mean(),inplace=True)

In [36]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100, 2)

Car              1.56
Bathroom         0.05
Bedroom2         0.03
Suburb           0.00
Regionname       0.00
Longtitude       0.00
Lattitude        0.00
CouncilArea      0.00
Landsize         0.00
Postcode         0.00
Address          0.00
Distance         0.00
Date             0.00
SellerG          0.00
Method           0.00
Price            0.00
Type             0.00
Rooms            0.00
Propertycount    0.00
dtype: float64

### Replacing Null Values from Bathroom & Bedroom2

In [37]:
data.loc[:,['Bathroom', 'Bedroom2']].describe()

           Bathroom      Bedroom2
count  17973.000000  17976.000000
mean       1.580871      3.033100
std        0.702912      0.954873
min        0.000000      0.000000
25%        1.000000      2.000000
50%        1.000000      3.000000
75%        2.000000      4.000000
max        9.000000     20.000000

In [38]:
data.groupby('Bathroom').Bathroom.count().sort_values(ascending=False)
# data['Bathroom'].astype('category').value_counts()

Bathroom
1.0    9275
2.0    7145
3.0    1308
4.0     154
5.0      43
0.0      34
6.0       9
7.0       2
8.0       2
9.0       1
Name: Bathroom, dtype: int64

In [39]:
data.groupby('Bedroom2').Bedroom2.count().sort_values(ascending=False)
# data['Bedroom2'].astype('category').value_counts()

Bedroom2
3.0     8104
2.0     4129
4.0     4060
5.0      842
1.0      704
6.0       91
0.0       16
7.0       14
8.0        7
10.0       4
9.0        3
12.0       1
20.0       1
Name: Bedroom2, dtype: int64

In [40]:
data.loc[:,'Bathroom'].fillna(1,inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6292\3494206687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:,'Bathroom'].fillna(1,inplace=True)

In [41]:
data.loc[:,'Bedroom2'].fillna(3,inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6292\1308558588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:,'Bedroom2'].fillna(3,inplace=True)

In [42]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100, 2)

Car              1.56
Suburb           0.00
Bedroom2         0.00
Regionname       0.00
Longtitude       0.00
Lattitude        0.00
CouncilArea      0.00
Landsize         0.00
Bathroom         0.00
Postcode         0.00
Address          0.00
Distance         0.00
Date             0.00
SellerG          0.00
Method           0.00
Price            0.00
Type             0.00
Rooms            0.00
Propertycount    0.00
dtype: float64

### Replacing Null Values from Car

In [43]:
data['Car'].describe()

count    17701.000000
mean         1.698887
std          0.998673
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         18.000000
Name: Car, dtype: float64

In [44]:
data.groupby('Car').Car.count().sort_values(ascending=False)

Car
2.0     7970
1.0     6483
0.0     1178
3.0     1065
4.0      778
5.0       99
6.0       92
7.0       16
8.0       12
10.0       4
9.0        2
11.0       1
18.0       1
Name: Car, dtype: int64

In [45]:
data.loc[:,'Car'].fillna(2,inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6292\4107072661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:,'Car'].fillna(2,inplace=True)

In [46]:
round(data.isnull().sum().sort_values(ascending=False)/len(data) * 100, 2)

Suburb           0.0
Bedroom2         0.0
Regionname       0.0
Longtitude       0.0
Lattitude        0.0
CouncilArea      0.0
Landsize         0.0
Car              0.0
Bathroom         0.0
Postcode         0.0
Address          0.0
Distance         0.0
Date             0.0
SellerG          0.0
Method           0.0
Price            0.0
Type             0.0
Rooms            0.0
Propertycount    0.0
dtype: float64

### Total % of data Remains after cleaning

In [47]:
len(data)/len(OrgData) * 100

51.58791634391944

### Save Final Data To CSV

In [48]:
data.to_csv("Data_After_Cleaning.csv")